/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* https://getcssscan.com/css-buttons-examples */
.button-82-pushable {
    font-family: 'Roboto', sans-serif;
    float:left;
    margin:2px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    font-family: 'Roboto', sans-serif;
    float:left;
    margin:2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
	transform
	600ms
	cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    font-family: 'Roboto', sans-serif;
    float:left;
    margin:2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #91dc47;
}

.button-82-front {
    font-family: 'Roboto', sans-serif;
    float:left;
    margin:2px;
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #63b132;
    will-change: transform;
    transform: translateY(-4px);
    transition:
	transform
	600ms
	cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
	font-size: 1.25rem;
	padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
	transform
	250ms
	cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
	transform
	250ms
	cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.selectors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.reminder-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
}

.reminder-items {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}


/* http://jsfiddle.net/TGzng/8/ */
input[type=text]
{
    color: black;
    height: 28px;
    padding-left: 10px;
    text-decoration: none;
    background-image: url('https://i.sstatic.net/pbpVI.png');
    background-repeat: repeat-x;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/

    border: 0;
}

/* https://codingartistweb.com/2021/07/custom-input-date-css-tutorial/ */
input[type="date"]{
    background-color: #63b132;
    padding-left: 10px;
    font-family: "Roboto",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    float:left;
    display: block;
    position: relative;
    padding: 4px 20px;
    border-radius: 12px;
    font-size: 1.15rem;
    color: white;
    background: #63b132;
    border-color: #91dc47;
}

.delete-button {
    font-family: 'Roboto', sans-serif;
    float:left;
    display: block;
    position: relative;
    padding: 4px 20px;
    border-radius: 12px;
    font-size: 1.15rem;
    color: white;
    background: #90b4fe;
    border-color: #5881d8;
}

.reminder-title{
    font-weight: bold;
    color: #63b132;
    padding-right: 15px;
}

.reminder-until{
    font-weight: bold;
    color: #63b132;
    padding-right: 10px;
}

.registered-title-label{
    font-weight: bold;
    color: white;
}

.registered-title{
    font-weight: bold;
    color: #5881d8;
}

.registered-date-label{
    font-weight: bold;
    color: white;
}

.registered-date{
    font-weight: bold;
    color: #5881d8;
}
